<a href="https://colab.research.google.com/github/Mayank0195/Movie_Recommendation_System/blob/main/Movie_Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
movies.head()

      budget  ... vote_count
0  237000000  ...      11800
1  300000000  ...       4500
2  245000000  ...       4466
3  250000000  ...       9106
4  260000000  ...       2124

[5 rows x 20 columns]

In [ ]:
credits = pd.read_csv('tmdb_5000_credits.csv')
credits.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 4 columns]

In [ ]:
new_movies = movies.merge(credits, on= 'title')
new_movies

         budget  ...                                               crew
0     237000000  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1     300000000  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2     245000000  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     250000000  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     260000000  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...         ...  ...                                                ...
4804     220000  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805       9000  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806          0  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807          0  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808          0  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4809 rows x 23 columns]

In [ ]:
new_movies.shape

(4809, 23)

In [ ]:
new_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 901.7+ KB

### **As there are 23 columns out of which some data can be removed so that the data can become more appropriate for the our machine learning model.**
### **So, we have column that we are going to keep are**
* **Movie_id**
* **Title**
* **Genres**
* **keywords**
* **overview**
* **cast** 
* **crew**

In [ ]:
new_movies = new_movies[['movie_id','title','genres','keywords','overview','cast','crew']]
new_movies

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4804      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4809 rows x 7 columns]

In [ ]:
new_movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    3
cast        0
crew        0
dtype: int64

In [ ]:
new_movies.dropna(inplace = True)

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [ ]:
new_movies.isnull().sum()

movie_id    0
title       0
genres      0
keywords    0
overview    0
cast        0
crew        0
dtype: int64

In [ ]:
new_movies.duplicated().sum()

0

In [ ]:
new_movies.iloc[0].genres

'[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]'

Convert
[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]
to
["Action","Adventure","Fantasy","Science Fiction"]

Here as we can see its is a string of list. So we haev to convert these these string of list into list for the proper analysis of the model

In [ ]:
import ast

In [ ]:
#ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

ast is a module in python for this very purpose. So we have imported the required module in the system

In [ ]:
def convert(obj):
  L = []
  for i in ast.literal_eval(obj):
    L.append(i['name'])
  return L

In [ ]:
new_movies['genres'] = new_movies['genres'].apply(convert)
new_movies['genres']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4804                        [Action, Crime, Thriller]
4805                                [Comedy, Romance]
4806               [Comedy, Drama, Romance, TV Movie]
4807                                               []
4808                                    [Documentary]
Name: genres, Length: 4806, dtype: object

In [ ]:
new_movies

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4804      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4806 rows x 7 columns]

In [ ]:
def transform(obj):
  M = []
  for i in ast.literal_eval(obj):
    M.append(i['name'])
  return M

In [ ]:
new_movies['keywords'] = new_movies['keywords'].apply(transform)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_movies

      movie_id  ...                                               crew
0        19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1          285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2       206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3        49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4        49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...
...        ...  ...                                                ...
4804      9367  ...  [{"credit_id": "52fe44eec3a36847f80b280b", "de...
4805     72766  ...  [{"credit_id": "52fe487dc3a368484e0fb013", "de...
4806    231617  ...  [{"credit_id": "52fe4df3c3a36847f8275ecf", "de...
4807    126186  ...  [{"credit_id": "52fe4ad9c3a368484e16a36b", "de...
4808     25975  ...  [{"credit_id": "58ce021b9251415a390165d9", "de...

[4806 rows x 7 columns]

In [ ]:
def convert3(obj):
  m = []
  counter = 0
  for i in ast.literal_eval(obj):
    if counter != 3:
      m.append(i['name'])
      counter +=1
    else:
      break
  return m

In [ ]:
new_movies['cast'] = new_movies['cast'].apply(convert3)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_movies.head()

   movie_id  ...                                               crew
0     19995  ...  [{"credit_id": "52fe48009251416c750aca23", "de...
1       285  ...  [{"credit_id": "52fe4232c3a36847f800b579", "de...
2    206647  ...  [{"credit_id": "54805967c3a36829b5002c41", "de...
3     49026  ...  [{"credit_id": "52fe4781c3a36847f81398c3", "de...
4     49529  ...  [{"credit_id": "52fe479ac3a36847f813eaa3", "de...

[5 rows x 7 columns]

In [ ]:
def fetch_director(obj):
  p = []
  for i in ast.literal_eval(obj):
      if i['job'] == 'Director':
        p.append(i['name'])
  return p

In [ ]:
new_movies['crew'] = new_movies['crew'].apply(fetch_director)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_movies.head()

   movie_id  ...                 crew
0     19995  ...      [James Cameron]
1       285  ...     [Gore Verbinski]
2    206647  ...         [Sam Mendes]
3     49026  ...  [Christopher Nolan]
4     49529  ...     [Andrew Stanton]

[5 rows x 7 columns]

In [ ]:
new_movies['overview'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [ ]:
new_movies['overview'] = new_movies['overview'].apply(lambda x:x.split())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_movies['genres'] = new_movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
new_movies['keywords'] = new_movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
new_movies['cast'] = new_movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
new_movies['crew'] = new_movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [ ]:
new_movies

      movie_id  ...                                   crew
0        19995  ...                         [JamesCameron]
1          285  ...                        [GoreVerbinski]
2       206647  ...                            [SamMendes]
3        49026  ...                     [ChristopherNolan]
4        49529  ...                        [AndrewStanton]
...        ...  ...                                    ...
4804      9367  ...                      [RobertRodriguez]
4805     72766  ...                          [EdwardBurns]
4806    231617  ...                           [ScottSmith]
4807    126186  ...                           [DanielHsia]
4808     25975  ...  [BrianHerzlinger, JonGunn, BrettWinn]

[4806 rows x 7 columns]

In [ ]:
new_movies['tags'] = new_movies['overview'] + new_movies['genres'] + new_movies['keywords'] + new_movies['cast'] + new_movies['crew']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
new_movies.head()

   movie_id  ...                                               tags
0     19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1       285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2    206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3     49026  ...  [Following, the, death, of, District, Attorney...
4     49529  ...  [John, Carter, is, a, war-weary,, former, mili...

[5 rows x 8 columns]

In [ ]:
new_df = new_movies[['movie_id','title','tags']]
new_df

      movie_id  ...                                               tags
0        19995  ...  [In, the, 22nd, century,, a, paraplegic, Marin...
1          285  ...  [Captain, Barbossa,, long, believed, to, be, d...
2       206647  ...  [A, cryptic, message, from, Bond’s, past, send...
3        49026  ...  [Following, the, death, of, District, Attorney...
4        49529  ...  [John, Carter, is, a, war-weary,, former, mili...
...        ...  ...                                                ...
4804      9367  ...  [El, Mariachi, just, wants, to, play, his, gui...
4805     72766  ...  [A, newlywed, couple's, honeymoon, is, upended...
4806    231617  ...  ["Signed,, Sealed,, Delivered", introduces, a,...
4807    126186  ...  [When, ambitious, New, York, attorney, Sam, is...
4808     25975  ...  [Ever, since, the, second, grade, when, he, fi...

[4806 rows x 3 columns]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x))
new_df['tags']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

0       In the 22nd century, a paraplegic Marine is di...
1       Captain Barbossa, long believed to be dead, ha...
2       A cryptic message from Bond’s past sends him o...
3       Following the death of District Attorney Harve...
4       John Carter is a war-weary, former military ca...
                              ...
4804    El Mariachi just wants to play his guitar and ...
4805    A newlywed couple's honeymoon is upended by th...
4806    "Signed, Sealed, Delivered" introduces a dedic...
4807    When ambitious New York attorney Sam is sent t...
4808    Ever since the second grade when he first saw ...
Name: tags, Length: 4806, dtype: object

In [ ]:
new_df

      movie_id  ...                                               tags
0        19995  ...  In the 22nd century, a paraplegic Marine is di...
1          285  ...  Captain Barbossa, long believed to be dead, ha...
2       206647  ...  A cryptic message from Bond’s past sends him o...
3        49026  ...  Following the death of District Attorney Harve...
4        49529  ...  John Carter is a war-weary, former military ca...
...        ...  ...                                                ...
4804      9367  ...  El Mariachi just wants to play his guitar and ...
4805     72766  ...  A newlywed couple's honeymoon is upended by th...
4806    231617  ...  "Signed, Sealed, Delivered" introduces a dedic...
4807    126186  ...  When ambitious New York attorney Sam is sent t...
4808     25975  ...  Ever since the second grade when he first saw ...

[4806 rows x 3 columns]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())
new_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

      movie_id  ...                                               tags
0        19995  ...  in the 22nd century, a paraplegic marine is di...
1          285  ...  captain barbossa, long believed to be dead, ha...
2       206647  ...  a cryptic message from bond’s past sends him o...
3        49026  ...  following the death of district attorney harve...
4        49529  ...  john carter is a war-weary, former military ca...
...        ...  ...                                                ...
4804      9367  ...  el mariachi just wants to play his guitar and ...
4805     72766  ...  a newlywed couple's honeymoon is upended by th...
4806    231617  ...  "signed, sealed, delivered" introduces a dedic...
4807    126186  ...  when ambitious new york attorney sam is sent t...
4808     25975  ...  ever since the second grade when he first saw ...

[4806 rows x 3 columns]

## **Text Vectorization**

In [ ]:
pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.6.7)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.62.3)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.1.18)

In [ ]:
import nltk

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [ ]:
new_df['tags'][0]

'in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron'

In [ ]:
new_df['tags'][1]

"captain barbossa, long believed to be dead, has come back to life and is headed to the edge of the earth with will turner and elizabeth swann. but nothing is quite as it seems. adventure fantasy action ocean drugabuse exoticisland eastindiatradingcompany loveofone'slife traitor shipwreck strongwoman ship alliance calypso afterlife fighter pirate swashbuckler aftercreditsstinger johnnydepp orlandobloom keiraknightley goreverbinski"

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 5000, stop_words = 'english')

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray( )
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vectors.shape

(4806, 5000)

In [ ]:
 vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '18th',
 '19',
 '1930s',
 '1940s',
 '1944',
 '1950',
 '1950s',
 '1960s',
 '1970s',
 '1971',
 '1974',
 '1976',
 '1980',
 '1980s',
 '1985',
 '1990s',
 '1999',
 '19th',
 '19thcentury',
 '20',
 '200',
 '2003',
 '2009',
 '20th',
 '24',
 '25',
 '30',
 '300',
 '3d',
 '40',
 '50',
 '500',
 '60',
 '60s',
 '70',
 'aaron',
 'aaroneckhart',
 'abandoned',
 'abducted',
 'abigailbreslin',
 'abilities',
 'ability',
 'able',
 'aboard',
 'abuse',
 'abusive',
 'academic',
 'academy',
 'accept',
 'accepted',
 'accepts',
 'access',
 'accident',
 'accidental',
 'accidentally',
 'accompanied',
 'accomplish',
 'account',
 'accountant',
 'accused',
 'ace',
 'achieve',
 'act',
 'acting',
 'action',
 'actionhero',
 'actions',
 'activist',
 'activities',
 'activity',
 'actor',
 'actors',
 'actress',
 'acts',
 'actual',
 'actually',
 'adam',
 'adams',
 'adamsandler',
 'adamshankman',
 'adaptation',
 'adapted',
 'addict',
 'addicted',
 'addiction',
 'adolescence',
 'adopt',
 'adopted',
 'adoption',
 'adopts',
 'adrienbrody',
 'adult',
 'adultery',
 'adulthood',
 'adults',
 'advantage',
 'adventure',
 'adventures',
 'advertising',
 'advice',
 'affair',
 'affairs',
 'affection',
 'affections',
 'afghanistan',
 'africa',
 'african',
 'africanamerican',
 'aftercreditsstinger',
 'afterlife',
 'aftermath',
 'age',
 'aged',
 'agedifference',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggressive',
 'aging',
 'ago',
 'agree',
 'agrees',
 'ahead',
 'aid',
 'aided',
 'aids',
 'ailing',
 'air',
 'airplane',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alaska',
 'albert',
 'alcohol',
 'alcoholic',
 'alcoholism',
 'alecbaldwin',
 'alex',
 'alfredhitchcock',
 'ali',
 'alice',
 'alien',
 'alieninvasion',
 'alienlife',
 'aliens',
 'alike',
 'alive',
 'allen',
 'alliance',
 'allied',
 'allies',
 'allow',
 'allows',
 'ally',
 'alongside',
 'alpacino',
 'alter',
 'alternate',
 'alternative',
 'alzheimer',
 'amanda',
 'amandapeet',
 'amandaseyfried',
 'amateur',
 'amazing',
 'ambassador',
 'ambition',
 'ambitious',
 'ambulance',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americanfootball',
 'americans',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amusementpark',
 'amy',
 'amyadams',
 'amysmart',
 'analyst',
 'anarchiccomedy',
 'ancient',
 'ancientrome',
 'ancientworld',
 'anderson',
 'andiemacdowell',
 'andrew',
 'android',
 'andy',
 'andygarcía',
 'angel',
 'angelabassett',
 'angeles',
 'angelinajolie',
 'angels',
 'anger',
 'anglee',
 'angry',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'animated',
 'animation',
 'ann',
 'anna',
 'annabelle',
 'annafaris',
 'annakendrick',
 'anne',
 'annehathaway',
 'annemoss',
 'annettebening',
 'annie',
 'anniversary',
 'announces',
 'annual',
 'anonymity',
 'anonymous',
 'answer',
 'answers',
 'ant',
 'antarctic',
 'anthology',
 'anthony',
 'anthonyanderson',
 'anthonyhopkins',
 'anthonymackie',
 'anthropomorphism',
 'anti',
 'antics',
 'antihero',
 'antoinefuqua',
 'antoniobanderas',
 'antonyelchin',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalypse',
 'apocalyptic',
 'apparent',
 'apparently',
 'appear',
 'appears',
 'apple',
 'appointed',
 'apprentice',
 'approach',
 'approaches',
 'approaching',
 'april',
 'aquarium',
 'arab',
 'arch',
 'archaeologist',
 'archeology',
 'archer',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'arise',
 'aristocrat',
 'armed',
 'arms',
 'army',
 'arnold',
 'arnoldschwarzenegger',
 'arrangedmarriage',
 'arrangement',
 'arrest',
 'arrested',
 'arrival',
 'arrive',
 'arrives',
 'arriving',
 'arrogant',
 'art',
 'arthur',
 'artificialintelligence',
 'artist',
 'artistic',
 'artists',
 'arts',
 'ashley',
 'ashleyjudd',
 'ashtonkutcher',
 'asia',
 'aside',
 'ask',
 'asked',
 'asking',
 'asks',
 'aspirations',
 'aspiring',
 'assassin',
 'assassinate',
 'assassination',
 'assassins',
 'assault',
 'assigned',
 'assignment',
 'assistant',
 'assumes',
 'asteroid',
 'astronaut',
 'astronauts',
 'asylum',
 'atheist',
 'athlete',
 'atlantic',
 'atomicbomb',
 'attack',
 'attacked',
 'attacks',
 'attempt',
 'attempting',
 'attempts',
 'attending',
 'attends',
 'attention',
 'attic',
 'attitude',
 'attorney',
 'attracted',
 'attraction',
 'attractive',
 'audience',
 'audiences',
 'audition',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'avenge',
 'average',
 'avoid',
 'awaits',
 'awakens',
 'award',
 'away',
 'awry',
 'ax',
 'babe',
 'baby',
 'bachelor',
 'backdrop',
 'background',
 'backgrounds',
 'bad',
 'bag',
 'bahamas',
 'bail',
 'balance',
 'ball',
 'ballet',
 'baltimore',
 'band',
 'bandits',
 'bangkok',
 'banished',
 'bank',
 'banker',
 'bankrobber',
 'bankrobbery',
 'bar',
 'barely',
 'bargained',
 'barn',
 'barney',
 'barry',
 'barrylevinson',
 'barrysonnenfeld',
 'bars',
 'base',
 'baseball',
 'based',
 'basedoncomicbook',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemusical',
 'basedontrueevents',
 'basedontruestory',
 'basedontvseries',
 'basedonvideogame',
 'basedonyoungadultnovel',
 'basement',
 'basketball',
 'batman',
 'battle',
 'battlefield',
 'battles',
 'battling',
 'bay',
 'beach',
 'bear',
 'bears',
 'beast',
 'beasts',
 'beat',
 'beating',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becky',
 'becominganadult',
 'bed',
 'bedroom',
 'beer',
 'befriends',
 'began',
 'begin',
 'beginning',
 'begins',
 'behavior',
 'beings',
 'beliefs',
 'believe',
 'believed',
 'believes',
 'believing',
 'beloved',
 'ben',
 'benaffleck',
 'beneath',
 'benfoster',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstiller',
 'bent',
 'berlin',
 'best',
 'bestfriend',
 'bet',
 'beth',
 'betrayal',
 'betrayed',
 'bettemidler',
 'better',
 'betty',
 'beverly',
 'bible',
 'big',
 'bigger',
 'biggest',
 'biker',
 'bikini',
 'billhader',
 'billionaire',
 'billmurray',
 'billnighy',
 'billpaxton',
 'billpullman',
 'billy',
 'billybobthornton',
 'billycrudup',
 'billycrystal',
 'biography',
 'bird',
 'birth',
 'birthday',
 'bisexual',
 'bishop',
 'bit',
 'bite',
 'bitter',
 'bizarre',
 'black',
 'blackmagic',
 'blackmail',
 'blackpeople',
 'blade',
 'blame',
 'blind',
 'bliss',
 'block',
 'blonde',
 'blood',
 'bloodsplatter',
 'bloodthirsty',
 'bloody',
 'blow',
 'blue',
 'board',
 'boarding',
 'boardingschool',
 'boat',
 'bob',
 'bobby',
 'bobbyfarrelly',
 'bobhoskins',
 'bodies',
 'body',
 'bodyguard',
 'bold',
 'bollywood',
 'bomb',
 'bombing',
 'bond',
 'bonds',
 'bone',
 'book',
 'books',
 'border',
 'bored',
 'boredom',
 'boring',
 'born',
 'boss',
 'boston',
 'botched',
 'bound',
 'boundaries',
 'bounty',
 'bountyhunter',
 'box',
 'boxer',
 'boxing',
 'boy',
 'boyfriend',
 'boys',
 'bradleycooper',
 'bradpitt',
 'brain',
 'brand',
 'brandon',
 'brave',
 'bravery',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breaking',
 'breaks',
 'breast',
 'brendanfraser',
 'brendangleeson',
 'brent',
 'brettratner',
 'brian',
 'briandepalma',
 'bride',
 'bridge',
 'brief',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'bringing',
 'brings',
 'brink',
 'britain',
 'british',
 'britishsecretservice',
 'brittanymurphy',
 'broadway',
 'broke',
 'broken',
 'broker',
 'brooklyn',
 'brooks',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucewillis',
 'brutal',
 'brutality',
 'brutally',
 'bryansinger',
 'buck',
 'buddies',
 'buddy',
 'buddycomedy',
 'budget',
 'build',
 'building',
 'built',
 'bully',
 'bullying',
 'bumbling',
 'bunny',
 'burglar',
 'buried',
 'bus',
 'bush',
 'business',
 'businessman',
 'bust',
 'busy',
 'butler',
 'buy',
 'cabin',
 'caesar',
 'cage',
 'cairo',
 'cal',
 'california',
 'called',
 'calls',
 'calvin',
 'camcorder',
 'came',
 'camera',
 'cameraman',
 'cameras',
 'camerondiaz',
 'camp',
 'campaign',
 'campbell',
 'camping',
 'campus',
 'canada',
 'canadian',
 'cancer',
 'candidate',
 'candy',
 'cannibal',
 'capable',
 'capital',
 'capitalism',
 'capt',
 'captain',
 'captive',
 'capture',
 'captured',
 'captures',
 'car',
 'caraccident',
 'carchase',
 'carcrash',
 'card',
 'care',
 'career',
 'carefree',
 'caretaker',
 'caribbean',
 'carjourney',
 'carl',
 'carlagugino',
 'carmen',
 'carol',
 'carolina',
 'carrace',
 'carrie',
 'carry',
 'carrying',
 'cars',
 'cartel',
 'carter',
 'cartoon',
 'caryelwes',
 'case',
 'caseyaffleck',
 'cash',
 'casino',
 'cast',
 'castle',
 'cat',
 'cataclysm',
 'catastrophe',
 'catch',
 'catches',
 'cateblanchett',
 'catherinedeneuve',
 'catherinekeener',
 'catherinezeta',
 'catholic',
 'catholicism',
 'cattle',
 'caught',
 'cause',
 'caused',
 'causes',
 'causing',
 'cavalry',
 'cave',
 'cavemen',
 'celebrate',
 'celebrated',
 'celebration',
 'celebrity',
 'cell',
 'cellphone',
 'cemetery',
 'center',
 'centered',
 'centers',
 'central',
 'centuries',
 'century',
 'ceo',
 'ceremony',
 'certain',
 'chad',
 'chain',
 'chainsaw',
 'challenge',
 'challenged',
 'challenges',
 'champion',
 'championship',
 'chance',
 'change',
 'changed',
 'changes',
 'changing',
 'channingtatum',
 'chaos',
 'chaotic',
 'chapter',
 'character',
 'characters',
 'charge',
 'charged',
 'charismatic',
 'charles',
 'charlie',
 'charliesheen',
 'charlizetheron',
 'charlotte',
 'charm',
 'charming',
 'chase',
 'chased',
 'chauffeur',
 'cheating',
 'cheerleader',
 'chef',
 'chemical',
 'cher',
 'chicago',
 'chicken',
 'chief',
 'child',
 'childabuse',
 'childhero',
 'childhood',
 'children',
 'chilling',
 'china',
 'chinese',
 'chip',
 'chiwetelejiofor',
 'chloëgracemoretz',
 'chloësevigny',
 'chocolate',
 'choice',
 'choices',
 'choose',
 'chosen',
 'chris',
 'chriscolumbus',
 'chriscooper',
 'chrisevans',
 'chrishemsworth',
 'chrisklein',
 'chrispine',
 'chrisrock',
 'christ',
 'christian',
 'christianbale',
 'christianity',
 'christianslater',
 'christinaapplegate',
 'christinaricci',
 'christine',
 'christmas',
 'christmasparty',
 'christmastree',
 'christopher',
 'christopherlambert',
 'christopherlloyd',
 'christophernolan',
 'christopherplummer',
 'christopherwalken',
 'christophwaltz',
 'chronicle',
 'chronicles',
 'chuck',
 'church',
 'cia',
 'cigarettesmoking',
 'cillianmurphy',
 'cinema',
 'circle',
 'circuit',
 'circumstances',
 'circus',
 'cities',
 'citizens',
 'city',
 'civil',
 'civilization',
 'civilwar',
 'claim',
 'claims',
 'claire',
 'clairedanes',
 'clan',
 'clark',
 'clash',
 'class',
 'classes',
 'classic',
 'classmate',
 'classmates',
 'classroom',
 'claudevandamme',
 'clay',
 'clean',
 'clear',
 'clerk',
 'client',
 'clients',
 'climate',
 'climbing',
 'clinteastwood',
 'cliveowen',
 'clock',
 'clone',
 'cloning',
 'close',
 'closer',
 'club',
 'clubs',
 'clues',
 'clutches',
 'coach',
 'coast',
 'cocaine',
 'code',
 'cody',
 'coffin',
 'cohen',
 'col',
 'cold',
 'coldwar',
 'cole',
 'colin',
 'colinfarrell',
 'colinfirth',
 'collapse',
 'colleague',
 'colleagues',
 'collect',
 'collection',
 'collector',
 'college',
 'collide',
 'collins',
 'collision',
 'colombia',
 'colonel',
 'colony',
 'color',
 'colorado',
 'colorful',
 'coma',
 'combat',
 'combination',
 'combined',
 'come',
 'comeback',
 'comedian',
 'comedic',
 'comedy',
 'comes',
 'comet',
 'comfort',
 'comic',
 'comics',
 'coming',
 'comingofage',
 'comingout',
 'command',
 'commander',
 'commercial',
 'commit',
 'commitment',
 'committed',
 'common',
 'communication',
 'communist',
 'community',
 'companion',
 'company',
 'compete',
 'competing',
 'competition',
 'competitive',
 'complete',
 'completely',
 'complex',
 'complicated',
 'complications',
 'composer',
 'computer',
 'computervirus',
 'conan',
 'concert',
 'conclusion',
 'condition',
 'conditions',
 'confession',
 'confidence',
 'confident',
 'conflict',
 'confront',
 'confronted',
 'confused',
 'congress',
 'conman',
 'connected',
 'connection',
 'connell',
 'connor',
 'conquer',
 'conscience',
 'consequences',
 'conservative',
 'considered',
 'conspiracy',
 'constant',
 'constantly',
 'construction',
 'contact',
 'contain',
 'contemporary',
 'contend',
 'contest',
 'continue',
 'continues',
 'continuing',
 'contract',
 'control',
 'controlled',
 'controlling',
 'controversial',
 'convention',
 'converge',
 'convict',
 'convicted',
 'convince',
 'convinced',
 'convinces',
 'cook',
 'cooking',
 'cool',
 'cooper',
 'cop',
 'cope',
 'cops',
 'core',
 'corner',
 'corners',
 'corporate',
 'corporation',
 'corpse',
 'corrupt',
 ...]

In [ ]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

'in the 22nd century, a parapleg marin is dispatch to the moon pandora on a uniqu mission, but becom torn between follow order and protect an alien civilization. action adventur fantasi sciencefict cultureclash futur spacewar spacecoloni societi spacetravel futurist romanc space alien tribe alienplanet cgi marin soldier battl loveaffair antiwar powerrel mindandsoul 3d samworthington zoesaldana sigourneyweav jamescameron'

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features = 7000, stop_words = 'english')

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray( )
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
vectors.shape

(4806, 7000)

In [ ]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['000',
 '007',
 '10',
 '100',
 '10th',
 '11',
 '12',
 '12th',
 '13',
 '14',
 '15',
 '150',
 '16',
 '16th',
 '17',
 '17th',
 '18',
 '1890',
 '18th',
 '18thcenturi',
 '19',
 '1910',
 '1920',
 '1930',
 '1930s',
 '1937',
 '1940',
 '1941',
 '1944',
 '1945',
 '1950',
 '1950s',
 '1955',
 '1959',
 '1960',
 '1960s',
 '1962',
 '1964',
 '1965',
 '1967',
 '1970',
 '1970s',
 '1971',
 '1972',
 '1973',
 '1974',
 '1976',
 '1977',
 '1979',
 '1980',
 '1980s',
 '1984',
 '1985',
 '1990',
 '1994',
 '1995',
 '1997',
 '1999',
 '19th',
 '19thcenturi',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2008',
 '2009',
 '20th',
 '21st',
 '21stcenturi',
 '23',
 '24',
 '25',
 '27',
 '30',
 '300',
 '35',
 '3d',
 '40',
 '47',
 '50',
 '500',
 '51',
 '60',
 '60s',
 '70',
 '7th',
 '80',
 'aaron',
 'aaroneckhart',
 'aaronseltz',
 'aarontaylor',
 'abandon',
 'abbi',
 'abduct',
 'abigailbreslin',
 'abil',
 'abl',
 'aboard',
 'aborigin',
 'abov',
 'abroad',
 'absolut',
 'absurd',
 'abus',
 'abuse',
 'academ',
 'academi',
 'academy',
 'accept',
 'access',
 'accid',
 'accident',
 'acclaim',
 'accompani',
 'accomplish',
 'account',
 'accus',
 'ace',
 'achiev',
 'acid',
 'acquaint',
 'acquir',
 'act',
 'action',
 'actionhero',
 'activ',
 'activist',
 'activities',
 'actor',
 'actress',
 'actual',
 'ad',
 'ada',
 'adam',
 'adambrodi',
 'adamgarcia',
 'adammckay',
 'adams',
 'adamsandl',
 'adamscott',
 'adamshankman',
 'adapt',
 'add',
 'addict',
 'addiction',
 'addit',
 'addl',
 'adjust',
 'admir',
 'admit',
 'adolesc',
 'adopt',
 'ador',
 'adrienbrodi',
 'adrift',
 'adult',
 'adultanim',
 'adulteri',
 'adulthood',
 'adults',
 'advanc',
 'advantag',
 'advantage',
 'adventur',
 'adventure',
 'adventures',
 'advertis',
 'advic',
 'advice',
 'advis',
 'affair',
 'affect',
 'affection',
 'afflict',
 'affluent',
 'afford',
 'afghanistan',
 'afraid',
 'africa',
 'african',
 'africanamerican',
 'aftercreditssting',
 'afterlif',
 'aftermath',
 'afternoon',
 'ag',
 'age',
 'agediffer',
 'agenc',
 'agency',
 'agenda',
 'agent',
 'agents',
 'aggress',
 'aggressionbyanim',
 'ago',
 'agre',
 'ahead',
 'aid',
 'aidanquinn',
 'ail',
 'aim',
 'air',
 'airborn',
 'aircraft',
 'airplan',
 'airplanecrash',
 'airport',
 'aka',
 'al',
 'alabama',
 'alan',
 'alanarkin',
 'alaska',
 'alaskan',
 'albert',
 'albertbrook',
 'albertfinney',
 'alcatraz',
 'alcohol',
 'alcoholabus',
 'alecbaldwin',
 'alejandrogonzáleziñárritu',
 'alex',
 'alexanderpayn',
 'alexanderskarsgård',
 'alexapenavega',
 'alexia',
 'alexisbledel',
 'alexkendrick',
 'alexpettyf',
 'alexproya',
 'alfi',
 'alfonsocuarón',
 'alfredhitchcock',
 'alfredmolina',
 'algeria',
 'ali',
 'alic',
 'alice',
 'alicebraga',
 'alien',
 'alieninvas',
 'alienlife',
 'alienplanet',
 'aliens',
 'alik',
 'alike',
 'alilart',
 'aliv',
 'alive',
 'alleg',
 'allegedli',
 'allen',
 'alli',
 'allianc',
 'allies',
 'allow',
 'alon',
 'alongsid',
 'alpacino',
 'alpha',
 'alreadi',
 'alt',
 'alter',
 'altern',
 'alternatehistori',
 'alternater',
 'alway',
 'alyssa',
 'alzheimer',
 'amanda',
 'amandabyn',
 'amandapeet',
 'amandaseyfri',
 'amateur',
 'amaz',
 'amazon',
 'ambassador',
 'amberheard',
 'ambit',
 'ambiti',
 'ambul',
 'ambush',
 'america',
 'american',
 'americanabroad',
 'americancivilwar',
 'americandream',
 'americanfootbal',
 'americanfootballplay',
 'ami',
 'amid',
 'amidst',
 'amnesia',
 'amp',
 'amsterdam',
 'amus',
 'amusementpark',
 'amy',
 'amyadam',
 'amysmart',
 'ana',
 'anakin',
 'analyst',
 'anarchiccomedi',
 'ancient',
 'ancientgreec',
 'ancientrom',
 'ancientworld',
 'anderson',
 'andi',
 'andiemacdowel',
 'andrew',
 'andrewadamson',
 'andrewgarfield',
 'andrewniccol',
 'android',
 'andrzejbartkowiak',
 'andy',
 'andyfickman',
 'andygarcía',
 'andyserki',
 'andytenn',
 'angel',
 'angela',
 'angelabassett',
 'angeles',
 'angelinajoli',
 'anger',
 'angle',
 'angri',
 'ani',
 'anim',
 'animal',
 'animalattack',
 'animalhorror',
 'animals',
 'anjelicahuston',
 'ann',
 'anna',
 'annabel',
 'annafari',
 'annafriel',
 'annakendrick',
 'annasophiarobb',
 'anne',
 'annefletch',
 'annehathaway',
 'annehech',
 'annemoss',
 'annetteben',
 'anni',
 'annie',
 'anniversari',
 'announc',
 'annual',
 'anonym',
 'anoth',
 'answer',
 'answers',
 'ant',
 'antarct',
 'antarctica',
 'antholog',
 'anthoni',
 'anthonyanderson',
 'anthonyhopkin',
 'anthonymacki',
 'anthropomorph',
 'anti',
 'antic',
 'antihero',
 'antiqu',
 'antisemit',
 'antiterror',
 'antoinefuqua',
 'anton',
 'antonio',
 'antoniobandera',
 'antonyelchin',
 'anyon',
 'anyth',
 'apart',
 'apartheid',
 'apartment',
 'ape',
 'apes',
 'apocalyps',
 'apocalypse',
 'apocalypt',
 'apollo',
 'appar',
 'appear',
 'appl',
 'apple',
 'appli',
 'appoint',
 'appreci',
 'apprehend',
 'apprentic',
 'approach',
 'approaches',
 'april',
 'aquarium',
 'arab',
 'arabian',
 'arbitrarylaw',
 'arch',
 'archaeologist',
 'archeolog',
 'archer',
 'archeri',
 'architect',
 'arctic',
 'area',
 'aren',
 'arena',
 'argument',
 'aris',
 'aristocrat',
 'arizona',
 'arm',
 'armi',
 'armiehamm',
 'armor',
 'armsdeal',
 'army',
 'arnold',
 'arnoldschwarzenegg',
 'arrang',
 'arrangedmarriag',
 'array',
 'arrest',
 'arrested',
 'arriv',
 'arrive',
 'arrives',
 'arrog',
 'arson',
 'art',
 'artgalleri',
 'arthur',
 'articl',
 'artifact',
 'artifici',
 'artificialintellig',
 'artist',
 'artists',
 'ash',
 'ashley',
 'ashleyjudd',
 'ashtonkutch',
 'asia',
 'asian',
 'asid',
 'ask',
 'aspect',
 'aspir',
 'assassin',
 'assassins',
 'assault',
 'assembl',
 'assign',
 'assignment',
 'assist',
 'assistant',
 'associ',
 'assort',
 'assum',
 'asteroid',
 'astronaut',
 'asylum',
 'atheist',
 'athlet',
 'atlant',
 'atlanta',
 'atom',
 'atomegoyan',
 'atomicbomb',
 'attach',
 'attack',
 'attacks',
 'attempt',
 'attemptedmurd',
 'attempttoescap',
 'attend',
 'attent',
 'attention',
 'attic',
 'attitud',
 'attorney',
 'attract',
 'auction',
 'audienc',
 'audit',
 'audreytaut',
 'august',
 'aunt',
 'austin',
 'australia',
 'australian',
 'austria',
 'austrian',
 'author',
 'authorities',
 'authority',
 'autism',
 'auto',
 'autobiograph',
 'automobilerac',
 'avail',
 'aveng',
 'averag',
 'aviat',
 'avoid',
 'await',
 'awak',
 'awaken',
 'awar',
 'award',
 'away',
 'awe',
 'awesom',
 'awkward',
 'awri',
 'awry',
 'ax',
 'axe',
 'axel',
 'babe',
 'babi',
 'baby',
 'babysitt',
 'bachelor',
 'backdrop',
 'background',
 'backpack',
 'backstag',
 'backwat',
 'backyard',
 'bad',
 'badli',
 'bag',
 'bahama',
 'bail',
 'bailey',
 'baker',
 'balanc',
 'ball',
 'ballet',
 'balloon',
 'baltimor',
 'ban',
 'band',
 'bandit',
 'bangkok',
 'banish',
 'bank',
 'banker',
 'bankrobb',
 'bankrobberi',
 'bar',
 'barbara',
 'barbarian',
 'barbershop',
 'barbrastreisand',
 'bare',
 'bargain',
 'barn',
 'barney',
 'baron',
 'barri',
 'barricad',
 'barrier',
 'barrio',
 'barry',
 'barrylevinson',
 'barrypepp',
 'barrysonnenfeld',
 'bars',
 'bart',
 'bas',
 'base',
 'basebal',
 'baseball',
 'basedonchildren',
 'basedoncomicbook',
 'basedonfilm',
 'basedongraphicnovel',
 'basedonnovel',
 'basedonplay',
 'basedonstagemus',
 'basedontrueev',
 'basedontruestori',
 'basedontvseri',
 'basedonvideogam',
 'basedonyoungadultnovel',
 'basement',
 'basketbal',
 'basketball',
 'bat',
 'bathtub',
 'batman',
 'battalion',
 'battl',
 'battle',
 'battlefield',
 'bay',
 'beach',
 'beam',
 'bear',
 'beard',
 'beast',
 'beat',
 'beaten',
 'beau',
 'beauti',
 'beautiful',
 'beautifulwoman',
 'beauty',
 'becam',
 'becaus',
 'becki',
 'becom',
 'becominganadult',
 'bed',
 'bedroom',
 'bee',
 'beer',
 'befor',
 'befriend',
 'beg',
 'began',
 'begin',
 'begins',
 'beguil',
 'behavior',
 'behead',
 'belgium',
 'belief',
 'beliefs',
 'believ',
 'bell',
 'bella',
 'belong',
 'belov',
 'ben',
 'benaffleck',
 'bend',
 'beneath',
 'benefit',
 'benfost',
 'beniciodeltoro',
 'benjamin',
 'benjaminbratt',
 'benkingsley',
 'bennett',
 'benstil',
 'bent',
 'berlin',
 'berniemac',
 'best',
 'bestfriend',
 'bestfriendsinlov',
 'bet',
 'beth',
 'betray',
 'betrayal',
 'bettemidl',
 'better',
 'betti',
 'bettythoma',
 'beverli',
 'bibl',
 'biblic',
 'bicker',
 'bicycl',
 'bid',
 'big',
 'bigger',
 'biggest',
 'bike',
 'biker',
 'bikini',
 'bilbo',
 'billcondon',
 'billhad',
 'billi',
 'billion',
 'billionair',
 'billmoseley',
 'billmurray',
 'billnighi',
 'billpaxton',
 'billpullman',
 'billybobthornton',
 'billyconnolli',
 'billycrudup',
 'billycryst',
 'bind',
 'biograph',
 'biographi',
 'biolog',
 'biologist',
 'biopic',
 'bird',
 'birth',
 'birthday',
 'bisexu',
 'bishop',
 'bit',
 'bite',
 'bitten',
 'bitter',
 'bittersweet',
 'bizarr',
 'black',
 'blackandwhit',
 'blackhol',
 'blackmag',
 'blackmail',
 'blackpeopl',
 'blacksmith',
 'blade',
 'blake',
 'blakel',
 'blame',
 'blart',
 'blast',
 'blaxploit',
 'blaze',
 'bleek',
 'blend',
 'bless',
 'blind',
 'blinddat',
 'blindnessandimpairedvis',
 'bliss',
 'blizzard',
 'block',
 'blofeld',
 'blog',
 'blond',
 'blonde',
 'blood',
 'bloodi',
 'bloodsplatt',
 'bloodthirsti',
 'bloom',
 'blossom',
 'blow',
 'blowjob',
 'blown',
 'blu',
 'blue',
 'blunt',
 'blur',
 'board',
 'boardingschool',
 'boat',
 'bob',
 'bobbi',
 'bobby',
 'bobbyfarrelli',
 'bobhoskin',
 'bodi',
 'body',
 'bodyguard',
 'bodyhorror',
 'bohemian',
 'bold',
 'bollywood',
 'bolt',
 'bomb',
 'bomber',
 'bond',
 'bone',
 'bonniehunt',
 'boo',
 'book',
 'books',
 'boot',
 'border',
 'bore',
 'boredom',
 'boring',
 'born',
 'borrow',
 'boss',
 'boston',
 'botch',
 'bottl',
 'bounc',
 'bound',
 'boundari',
 'bounti',
 'bountyhunt',
 'bourn',
 'bout',
 'bowl',
 'box',
 'boxer',
 'boxingmatch',
 'boy',
 'boyd',
 'boyfriend',
 'boys',
 'brad',
 'bradanderson',
 'bradbird',
 'bradleycoop',
 'bradpitt',
 'brain',
 'braintumor',
 'brainwash',
 'brand',
 'brandon',
 'brave',
 'braveri',
 'brazil',
 'brazilian',
 'break',
 'breakdown',
 'breakingthefourthwal',
 'breakup',
 'breast',
 'breath',
 'breed',
 'brendan',
 'brendanfras',
 'brendangleeson',
 'brent',
 'brentspin',
 'brettratn',
 'brew',
 'brian',
 'briancox',
 'briandepalma',
 'brianhelgeland',
 'brianlev',
 'brianrobbin',
 'brick',
 'bride',
 'bridesmaid',
 'bridg',
 'bridge',
 'bridgetfonda',
 'brief',
 'brielarson',
 'brien',
 'bright',
 'brilliant',
 'bring',
 'brink',
 'britain',
 'british',
 'britisharmi',
 'britishsecretservic',
 'brittanymurphi',
 'broadcast',
 'broadway',
 'broke',
 'broken',
 'broker',
 'bronson',
 'bronx',
 'brood',
 'brook',
 'brooklyn',
 'brooklynnewyorkc',
 'broom',
 'brothel',
 'brother',
 'brotherbrotherrelationship',
 'brotherhood',
 'brothers',
 'brothersisterrelationship',
 'brought',
 'brown',
 'bruce',
 'brucecampbel',
 'brucedern',
 'brucegreenwood',
 'brucewilli',
 'brutal',
 'bryancranston',
 'bryansing',
 'brycedallashoward',
 'bu',
 'buck',
 'bud',
 'budapest',
 'buddi',
 'buddy',
 'buddycomedi',
 'buddycop',
 'budget',
 'buffalo',
 'bug',
 'build',
 'building',
 'built',
 'bull',
 'bullet',
 'bulli',
 'bum',
 'bumbl',
 'bump',
 'bunch',
 'bunker',
 'bunni',
 'bureaucraci',
 'burglar',
 'buri',
 'burn',
 'burnedal',
 'burtlancast',
 'burton',
 'burtreynold',
 'bush',
 'busi',
 'business',
 'businessman',
 'businesswoman',
 'bust',
 'butch',
 'butcher',
 'butler',
 'butt',
 'button',
 'buy',
 'buzz',
 'cabin',
 'cabl',
 'caesar',
 'cage',
 'cain',
 'cairo',
 'cal',
 'cale',
 'caleb',
 'california',
 'calm',
 'calvin',
 'cambodia',
 'camcord',
 'came',
 'camelot',
 'camera',
 'cameraman',
 'cameron',
 'cameroncrow',
 'camerondiaz',
 'camgigandet',
 'camillabel',
 'camp',
 'campaign',
 'campbel',
 'campbell',
 'campbellscott',
 'campu',
 'canada',
 'canadian',
 'cancer',
 'candi',
 'candid',
 'candlelightvigil',
 'canin',
 'cannabi',
 'cannib',
 'cano',
 'canon',
 'canuxploit',
 'canyon',
 'cao',
 'capabl',
 'capac',
 'cape',
 'caper',
 'capit',
 'capt',
 'captain',
 'captiv',
 'captur',
 'capture',
 'captured',
 'car',
 'caraccid',
 'carbomb',
 'carchas',
 'carcrash',
 'card',
 'care',
 'career',
 'carefre',
 'caretak',
 'careymulligan',
 ...]

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
 cosine_similarity(vectors).shape

(4806, 4806)

In [ ]:
similarity[1]

array([0.07537784, 1.        , 0.05802589, ..., 0.02289343, 0.        ,
       0.02512595])

In [ ]:
sorted(similarity[0],reverse=True)[0:5]

[0.9999999999999999,
 0.2533201985524494,
 0.2528249484237158,
 0.23596995186213474,
 0.23268946049775863]

In [ ]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])

[(0, 0.9999999999999999),
 (2409, 0.2533201985524494),
 (1216, 0.2528249484237158),
 (3730, 0.23596995186213474),
 (539, 0.23268946049775863),
 (507, 0.22975187432024505),
 (582, 0.223606797749979),
 (1204, 0.2175970699446223),
 (778, 0.21320071635561044),
 (4048, 0.20889318714683738),
 (61, 0.20695933859617893),
 (1194, 0.20309059861498083),
 (1920, 0.1938287215142766),
 (2786, 0.1926686588971131),
 (322, 0.1906925178491185),
 (2333, 0.18815445225159547),
 (3608, 0.18698939800169143),
 (260, 0.1865506268111591),
 (74, 0.186370957476581),
 (1089, 0.18540496217739155),
 (4192, 0.18463723646899916),
 (151, 0.18090680674665818),
 (47, 0.18018749253911176),
 (3675, 0.1797866299901979),
 (972, 0.17837651700316892),
 (1444, 0.1776672636296754),
 (172, 0.1773937187967248),
 (495, 0.1773937187967248),
 (2971, 0.1764461683101464),
 (942, 0.17591979885341696),
 (305, 0.17516226243634267),
 (1201, 0.17407765595569785),
 (4405, 0.17407765595569785),
 (973, 0.17348855898381338),
 (4, 0.17229219690157918),
 (94, 0.17094086468945693),
 (577, 0.16898159235484367),
 (1329, 0.1679677532867563),
 (1275, 0.1651445647689541),
 (27, 0.1645362954286044),
 (2999, 0.16448792373994225),
 (3327, 0.16448792373994225),
 (83, 0.16412198797244365),
 (168, 0.16283473681973243),
 (220, 0.16245910832216473),
 (3999, 0.16245910832216473),
 (184, 0.160930171455096),
 (1071, 0.160930171455096),
 (373, 0.16070608663330624),
 (36, 0.15909090909090912),
 (1321, 0.15717365336548286),
 (300, 0.15559397856603546),
 (3538, 0.15559397856603546),
 (4336, 0.15559397856603546),
 (931, 0.15512630699850577),
 (2204, 0.15392982399673988),
 (1831, 0.15392982399673985),
 (661, 0.15316791621349674),
 (1355, 0.15231794896123563),
 (91, 0.15075567228888181),
 (838, 0.1489282632723364),
 (342, 0.148039131365948),
 (41, 0.14777011582226215),
 (529, 0.14777011582226215),
 (595, 0.14777011582226215),
 (3162, 0.14734189373675147),
 (150, 0.14716573653773893),
 (2731, 0.14506471329641488),
 (67, 0.14484136487558028),
 (1178, 0.14484136487558028),
 (1537, 0.1436067394758882),
 (1982, 0.14301938838683886),
 (4010, 0.1421338109037403),
 (149, 0.1411569346481171),
 (31, 0.1399731277389636),
 (2515, 0.1399731277389636),
 (26, 0.13957263155977065),
 (187, 0.13794014696151086),
 (1344, 0.13794014696151086),
 (2075, 0.13762047064079508),
 (52, 0.13636363636363638),
 (1383, 0.13636363636363638),
 (513, 0.13636363636363635),
 (7, 0.13483997249264842),
 (108, 0.13483997249264842),
 (111, 0.13483997249264842),
 (311, 0.13483997249264842),
 (2760, 0.13402192668680965),
 (1479, 0.13402192668680962),
 (294, 0.1332504477222565),
 (579, 0.1332504477222565),
 (581, 0.1332504477222565),
 (127, 0.13318543164240537),
 (466, 0.1315903389919538),
 (1488, 0.1315903389919538),
 (275, 0.13121597027036952),
 (2496, 0.13121597027036952),
 (1056, 0.13055824196677338),
 (1938, 0.13055824196677338),
 (1297, 0.1292191476761844),
 (3781, 0.128564869306645),
 (1396, 0.12797267422224787),
 (46, 0.12741179785940637),
 (2169, 0.12741179785940637),
 (490, 0.1257389226923863),
 (1327, 0.1257389226923863),
 (3982, 0.1257389226923863),
 (568, 0.1256297269074015),
 (3354, 0.1256297269074015),
 (95, 0.1254363015010636),
 (4538, 0.1254363015010636),
 (1965, 0.12523984671878982),
 (17, 0.12436708454077278),
 (777, 0.12424730498438732),
 (461, 0.12392039927415242),
 (859, 0.12392039927415242),
 (56, 0.12309149097933275),
 (505, 0.12309149097933275),
 (935, 0.12309149097933275),
 (2584, 0.12309149097933275),
 (72, 0.12227899701112963),
 (843, 0.12227899701112963),
 (1560, 0.12227899701112963),
 (4079, 0.12227899701112963),
 (502, 0.12196734422726127),
 (4348, 0.12087344460380704),
 (2133, 0.12087344460380703),
 (413, 0.1207011373963169),
 (1273, 0.11980845957463077),
 (14, 0.11918282365569904),
 (2686, 0.11918282365569904),
 (3622, 0.11918282365569904),
 (134, 0.11826247919781653),
 (249, 0.11826247919781653),
 (476, 0.11826247919781653),
 (668, 0.11826247919781653),
 (773, 0.11826247919781653),
 (1322, 0.11798497593106737),
 (2873, 0.11776030079682895),
 (126, 0.11772040233700279),
 (138, 0.11772040233700279),
 (1086, 0.11631052629980887),
 (1808, 0.11631052629980887),
 (2181, 0.11631052629980887),
 (2450, 0.11631052629980887),
 (3628, 0.11631052629980887),
 (4230, 0.11631052629980887),
 (368, 0.1160517706371319),
 (483, 0.1160517706371319),
 (1373, 0.1160517706371319),
 (2378, 0.1160517706371319),
 (158, 0.11581371547232744),
 (1015, 0.11495012246792571),
 (487, 0.11396057645963795),
 (1096, 0.11396057645963795),
 (1774, 0.11396057645963795),
 (754, 0.11363636363636365),
 (2674, 0.11306675421666136),
 (3083, 0.11306675421666136),
 (68, 0.11197850219117086),
 (1158, 0.11197850219117086),
 (1658, 0.11197850219117086),
 (2652, 0.11197850219117086),
 (1741, 0.11134044285378081),
 (438, 0.11113855611859677),
 (102, 0.1105064203025636),
 (208, 0.11009637651263605),
 (1004, 0.11009637651263605),
 (1047, 0.11009637651263605),
 (1274, 0.11009637651263605),
 (1833, 0.11009637651263605),
 (369, 0.10994987428338562),
 (549, 0.10994987428338562),
 (1299, 0.10994987428338562),
 (84, 0.1096908636190696),
 (1673, 0.1096908636190696),
 (1715, 0.1096908636190696),
 (2480, 0.1096908636190696),
 (2789, 0.1096908636190696),
 (900, 0.10879853497231115),
 (122, 0.10830607221477648),
 (678, 0.10830607221477648),
 (2970, 0.10830607221477648),
 (3376, 0.10830607221477648),
 (3736, 0.10830607221477648),
 (160, 0.10770505460691618),
 (166, 0.107682623063487),
 (278, 0.107682623063487),
 (1617, 0.107682623063487),
 (3235, 0.107682623063487),
 (589, 0.10734844004467699),
 (1002, 0.10660035817780524),
 (937, 0.10660035817780522),
 (2284, 0.10660035817780522),
 (2331, 0.10660035817780522),
 (3409, 0.10660035817780522),
 (781, 0.10660035817780521),
 (4673, 0.10660035817780521),
 (85, 0.10606060606060606),
 (139, 0.10586770098608782),
 (1497, 0.10586770098608782),
 (3212, 0.10562681853292955),
 (182, 0.10555008273018725),
 (557, 0.10555008273018725),
 (870, 0.10555008273018725),
 (1878, 0.10514994558491723),
 (422, 0.10497277621629561),
 (2060, 0.10497277621629561),
 (2741, 0.10497277621629561),
 (1418, 0.10453025125088636),
 (1348, 0.1037571695799112),
 (3721, 0.1037571695799112),
 (454, 0.10353942082032278),
 (536, 0.10353942082032278),
 (889, 0.10347966929808947),
 (232, 0.10341753799900383),
 (1220, 0.10257624248277727),
 (2547, 0.10257624248277727),
 (3147, 0.10241831129983783),
 (121, 0.1019294382875251),
 (236, 0.1019294382875251),
 (449, 0.1019294382875251),
 (4468, 0.1019294382875251),
 (1574, 0.10176802973291377),
 (43, 0.10163945352271772),
 (432, 0.10163945352271772),
 (238, 0.10112997936948633),
 (189, 0.10112997936948631),
 (2372, 0.10072787050317253),
 (3630, 0.10072787050317253),
 (28, 0.10050378152592121),
 (1616, 0.10050378152592121),
 (3008, 0.10050378152592121),
 (3428, 0.10050378152592121),
 (3498, 0.10050378152592121),
 (206, 0.10016366623062493),
 (307, 0.10016366623062493),
 (81, 0.09988907373180403),
 (123, 0.09984038297885897),
 (228, 0.09984038297885897),
 (420, 0.09984038297885897),
 (692, 0.09984038297885897),
 (3093, 0.09984038297885897),
 (3309, 0.09984038297885897),
 (21, 0.09913631941932194),
 (50, 0.09913631941932194),
 (87, 0.09913631941932194),
 (5, 0.09897594780811197),
 (1512, 0.09897594780811197),
 (653, 0.09869275424396534),
 (808, 0.09869275424396534),
 (1524, 0.09869275424396534),
 (2634, 0.09869275424396534),
 (4000, 0.09869275424396534),
 (4135, 0.09869275424396534),
 (740, 0.09813358399735746),
 (295, 0.0978231976089037),
 (786, 0.0978231976089037),
 (1031, 0.0978231976089037),
 (1945, 0.0978231976089037),
 (170, 0.09731236802019037),
 (1237, 0.09656090991705352),
 (1771, 0.09656090991705352),
 (262, 0.09651142956027287),
 (572, 0.09651142956027287),
 (3055, 0.09642365197998375),
 (627, 0.09642365197998373),
 (1501, 0.09642365197998373),
 (1575, 0.09642365197998373),
 (1745, 0.09642365197998373),
 (229, 0.09588041581508897),
 (541, 0.09572994763343545),
 (654, 0.09572994763343545),
 (131, 0.09534625892455924),
 (223, 0.09534625892455924),
 (332, 0.09534625892455924),
 (472, 0.09534625892455924),
 (687, 0.09534625892455924),
 (2817, 0.09534625892455924),
 (3634, 0.09534625892455924),
 (939, 0.09534625892455922),
 (467, 0.09496714704969828),
 (2106, 0.09496714704969828),
 (2498, 0.09496714704969828),
 (200, 0.09430419201928972),
 (256, 0.09430419201928972),
 (1166, 0.09430419201928972),
 (2323, 0.09430419201928972),
 (2521, 0.09430419201928972),
 (1455, 0.09422229518055114),
 (1496, 0.09422229518055114),
 (75, 0.09417632186960223),
 (3152, 0.09417632186960223),
 (3340, 0.09417632186960223),
 (174, 0.09304842103984709),
 (3755, 0.09304842103984709),
 (233, 0.09231861823449956),
 (319, 0.09231861823449956),
 (624, 0.09231861823449956),
 (1280, 0.09231861823449956),
 (2161, 0.09231861823449956),
 (2762, 0.09231861823449956),
 (3621, 0.09231861823449956),
 (3663, 0.09231861823449956),
 (4490, 0.09231861823449956),
 (2439, 0.09208868358546966),
 (330, 0.09196009797434057),
 (508, 0.09196009797434057),
 (1294, 0.09196009797434057),
 (1614, 0.09196009797434057),
 (2148, 0.09196009797434057),
 (3935, 0.09196009797434057),
 (1405, 0.09140905301589133),
 (1439, 0.09140905301589133),
 (266, 0.09090909090909091),
 (1037, 0.09090909090909091),
 (2247, 0.09090909090909091),
 (2253, 0.09090909090909091),
 (4097, 0.09090909090909091),
 (4777, 0.09090909090909091),
 (105, 0.09045340337332909),
 (157, 0.09045340337332909),
 (1077, 0.09045340337332909),
 (3839, 0.09045340337332909),
 (4472, 0.09045340337332909),
 (363, 0.09009374626955591),
 (1775, 0.09009374626955591),
 (2099, 0.0900937462695559),
 (10, 0.08989331499509895),
 (445, 0.08989331499509895),
 (510, 0.08989331499509895),
 (1290, 0.08989331499509895),
 (1823, 0.08989331499509895),
 (3783, 0.08989331499509895),
 (9, 0.08891084489487741),
 (207, 0.08891084489487741),
 (312, 0.08891084489487741),
 (480, 0.08891084489487741),
 (988, 0.08891084489487741),
 (1109, 0.08891084489487741),
 (2395, 0.08891084489487741),
 (3620, 0.08891084489487741),
 (33, 0.0886968593983624),
 (35, 0.0886968593983624),
 (263, 0.0886968593983624),
 (1942, 0.0886968593983624),
 (2456, 0.0886968593983624),
 (3954, 0.0886968593983624),
 (4018, 0.0886968593983624),
 (3441, 0.08822308415507318),
 (334, 0.0879598994267085),
 (371, 0.0879598994267085),
 (643, 0.0879598994267085),
 (1195, 0.0879598994267085),
 (1401, 0.0879598994267085),
 (2072, 0.0879598994267085),
 (2241, 0.0879598994267085),
 (18, 0.0876249546540977),
 (4545, 0.0876249546540977),
 (362, 0.08703882797784893),
 (410, 0.08703882797784893),
 (535, 0.08703882797784893),
 (715, 0.08703882797784893),
 (791, 0.08703882797784893),
 (898, 0.08703882797784893),
 (1156, 0.08703882797784893),
 (1276, 0.08703882797784893),
 (1686, 0.08703882797784893),
 (2053, 0.08703882797784893),
 (2592, 0.08703882797784893),
 (2645, 0.08703882797784893),
 (2787, 0.08703882797784893),
 (3537, 0.08703882797784893),
 (3720, 0.08703882797784893),
 (3874, 0.08703882797784893),
 (4256, 0.08703882797784893),
 (4331, 0.08703882797784893),
 (412, 0.0861460984507896),
 (1082, 0.0861460984507896),
 (1301, 0.0861460984507896),
 (1692, 0.0861460984507896),
 (2488, 0.0861460984507896),
 (2556, 0.0861460984507896),
 (2650, 0.0861460984507896),
 (2820, 0.0861460984507896),
 (244, 0.08547043234472845),
 (325, 0.08547043234472845),
 (511, 0.08547043234472845),
 (660, 0.08547043234472845),
 (1721, 0.08547043234472845),
 (1727, 0.08547043234472845),
 (2562, 0.08547043234472845),
 (4198, 0.08547043234472845),
 (4403, 0.08547043234472845),
 (11, 0.08528028654224418),
 (587, 0.08528028654224418),
 (814, 0.08528028654224418),
 (1701, 0.08528028654224418),
 (2570, 0.0848066914440948),
 (602, 0.0844400661841498),
 (813, 0.0844400661841498),
 (1446, 0.0844400661841498),
 (1996, 0.0844400661841498),
 (3407, 0.0844400661841498),
 (239, 0.08427498280790527),
 (301, 0.08427498280790527),
 (491, 0.08427498280790527),
 (88, 0.08398387664337814),
 (148, 0.08398387664337814),
 (878, 0.08398387664337814),
 (920, 0.08398387664337814),
 (1480, 0.08398387664337814),
 (1573, 0.08398387664337814),
 (1756, 0.08398387664337814),
 (1884, 0.08398387664337814),
 (785, 0.08375315127160099),
 (799, 0.08375315127160099),
 (243, 0.08362420100070908),
 (279, 0.08362420100070908),
 (473, 0.08362420100070908),
 (1233, 0.08362420100070908),
 (1357, 0.08362420100070908),
 (1846, 0.08362420100070908),
 (4353, 0.08362420100070908),
 (3389, 0.08283153665625823),
 (3881, 0.08283153665625823),
 (230, 0.0827379240401869),
 (219, 0.08257228238447704),
 (356, 0.08257228238447704),
 (980, 0.08257228238447704),
 (2093, 0.08257228238447704),
 (2651, 0.08257228238447704),
 (3322, 0.08257228238447704),
 (596, 0.08206099398622183),
 (270, 0.08131156281817417),
 (997, 0.08131156281817417),
 (1906, 0.08131156281817417),
 (2109, 0.08131156281817417),
 (3443, 0.08131156281817417),
 (3553, 0.08131156281817417),
 (2115, 0.0812820110952944),
 (167, 0.08122955416108235),
 (389, 0.08122955416108235),
 (564, 0.08122955416108235),
 (1306, 0.08122955416108235),
 (2251, 0.08122955416108235),
 (2660, 0.08122955416108235),
 (4203, 0.08122955416108235),
 (479, 0.08081352297940449),
 (331, 0.08058229640253803),
 (2713, 0.08058229640253803),
 (2880, 0.08058229640253803),
 (3462, 0.08058229640253803),
 (4343, 0.08058229640253803),
 (4516, 0.08058229640253803),
 (141, 0.0799502686333539),
 (292, 0.0799502686333539),
 (1027, 0.0799502686333539),
 (1249, 0.0799502686333539),
 (1259, 0.0799502686333539),
 (2396, 0.0799502686333539),
 (2868, 0.0799502686333539),
 (2957, 0.0799502686333539),
 (3135, 0.0799502686333539),
 (3449, 0.0799502686333539),
 (169, 0.07987230638308718),
 (752, 0.07987230638308718),
 (2363, 0.07987230638308718),
 (129, 0.07918075824648958),
 (827, 0.07918075824648958),
 (1019, 0.07918075824648958),
 (1832, 0.07918075824648958),
 (2740, 0.07918075824648958),
 (3556, 0.07918075824648958),
 (2, 0.0787295821622217),
 (12, 0.0787295821622217),
 (23, 0.0787295821622217),
 (960, 0.0787295821622217),
 (1142, 0.0787295821622217),
 (1474, 0.0787295821622217),
 (3448, 0.0787295821622217),
 (32, 0.07850686719788597),
 (217, 0.07850686719788597),
 (2448, 0.0781631749350903),
 (48, 0.0778498944161523),
 (234, 0.0778498944161523),
 (534, 0.0778498944161523),
 (1530, 0.0778498944161523),
 (2796, 0.0778498944161523),
 (2856, 0.0778498944161523),
 (3180, 0.0778498944161523),
 (3218, 0.0778498944161523),
 (3978, 0.0778498944161523),
 (4502, 0.0778498944161523),
 (4587, 0.0778498944161523),
 (4737, 0.0778498944161523),
 (315, 0.07756315349925287),
 (457, 0.07756315349925287),
 (894, 0.07756315349925287),
 (1378, 0.07756315349925287),
 (2304, 0.07756315349925287),
 (4754, 0.07756315349925287),
 (199, 0.07720914364821829),
 (1305, 0.07720914364821829),
 (1639, 0.07720914364821829),
 (143, 0.07658395810674837),
 (618, 0.07658395810674837),
 (1097, 0.07644707871564384),
 (745, 0.07644707871564382),
 (2661, 0.07644707871564382),
 (3140, 0.07644707871564382),
 (4560, 0.07644707871564382),
 (2968, 0.07597371763975862),
 (274, 0.07596141519977194),
 (1, 0.07537783614444091),
 (152, 0.07537783614444091),
 (190, 0.07537783614444091),
 (203, 0.07537783614444091),
 (381, 0.07537783614444091),
 (812, 0.07537783614444091),
 (1202, 0.07537783614444091),
 (1589, 0.07537783614444091),
 (1664, 0.07537783614444091),
 (1688, 0.07537783614444091),
 (1698, 0.07537783614444091),
 (1749, 0.07537783614444091),
 (2167, 0.07537783614444091),
 (2877, 0.07537783614444091),
 (3301, 0.07537783614444091),
 (3527, 0.07537783614444091),
 (4641, 0.07537783614444091),
 (4654, 0.07537783614444091),
 (4657, 0.07537783614444091),
 (45, 0.07479575920067658),
 (403, 0.07479575920067658),
 (1783, 0.07479575920067658),
 (2354, 0.07479575920067658),
 (142, 0.07435223956449145),
 (227, 0.07435223956449145),
 (547, 0.07435223956449145),
 (1207, 0.07435223956449145),
 (1269, 0.07435223956449145),
 (1519, 0.07435223956449145),
 (2128, 0.07435223956449145),
 (2865, 0.07435223956449145),
 (3470, 0.07435223956449145),
 (3816, 0.07435223956449145),
 (19, 0.07422696190252054),
 (2203, 0.07422696190252054),
 (3905, 0.07422696190252054),
 (63, 0.07367094686837573),
 (501, 0.07367094686837573),
 (1898, 0.07367094686837573),
 (37, 0.07336739820667779),
 (306, 0.07336739820667779),
 (626, 0.07336739820667779),
 (775, 0.07336739820667779),
 (1080, 0.07336739820667779),
 (1747, 0.07336739820667779),
 (3233, 0.07336739820667779),
 (3926, 0.07336739820667779),
 (4626, 0.07336739820667779),
 (2683, 0.07336739820667777),
 (62, 0.07312724241271307),
 (776, 0.07312724241271307),
 (2339, 0.07312724241271307),
 (4568, 0.07312724241271307),
 (486, 0.07287050466613612),
 (2386, 0.07287050466613612),
 (1534, 0.07259540086406277),
 (193, 0.07253235664820744),
 (164, 0.07242068243779014),
 (245, 0.07242068243779014),
 (1149, 0.07242068243779014),
 (1325, 0.07242068243779014),
 (3028, 0.07242068243779014),
 (3102, 0.07242068243779014),
 (153, 0.07207499701564472),
 (3560, 0.07207499701564472),
 (4506, 0.07207499701564472),
 (38, 0.07156562669645132),
 (222, 0.07156562669645132),
 (1828, 0.07156562669645132),
 (2792, 0.07156562669645132),
 (16, 0.07150969419341943),
 (329, 0.07150969419341943),
 (787, 0.07150969419341943),
 (901, 0.07150969419341943),
 (922, 0.07150969419341943),
 (1161, 0.07150969419341943),
 (2583, 0.07150969419341943),
 (2938, 0.07150969419341943),
 (3091, 0.07150969419341943),
 (4316, 0.07150969419341943),
 (4341, 0.07150969419341943),
 (103, 0.07106690545187015),
 (866, 0.07106690545187015),
 (1926, 0.07106690545187015),
 (2274, 0.07106690545187015),
 (3728, 0.07106690545187015),
 (4279, 0.07106690545187015),
 (4492, 0.07106690545187015),
 (39, 0.07063224140220167),
 (70, 0.07063224140220167),
 (96, 0.07063224140220167),
 (112, 0.07063224140220167),
 (241, 0.07063224140220167),
 (400, 0.07063224140220167),
 (492, 0.07063224140220167),
 (632, 0.07063224140220167),
 (854, 0.07063224140220167),
 (1289, 0.07063224140220167),
 (2219, 0.07063224140220167),
 (2644, 0.07063224140220167),
 (4624, 0.07063224140220167),
 (246, 0.07057846732405855),
 (286, 0.07057846732405855),
 (1924, 0.07057846732405855),
 (1659, 0.07009996372327816),
 (125, 0.06999494499206371),
 (40, 0.06978631577988531),
 (101, 0.06978631577988531),
 (242, 0.06978631577988531),
 (349, 0.06978631577988531),
 (402, 0.06978631577988531),
 (737, 0.06978631577988531),
 (1293, 0.06978631577988531),
 (2449, 0.06978631577988531),
 (3851, 0.06978631577988531),
 (4558, 0.06978631577988531),
 (584, 0.06917144638660747),
 (850, 0.06917144638660747),
 (1005, 0.06917144638660747),
 (1282, 0.06917144638660747),
 (1323, 0.06917144638660747),
 (1770, 0.06917144638660747),
 (2671, 0.06917144638660747),
 (3117, 0.06917144638660747),
 (3126, 0.06917144638660747),
 (3832, 0.06917144638660747),
 (4011, 0.06917144638660747),
 (4412, 0.06917144638660747),
 (4473, 0.06917144638660747),
 (3331, 0.06909874910284776),
 (82, 0.06897007348075543),
 (361, 0.06897007348075543),
 (540, 0.06897007348075543),
 (794, 0.06897007348075543),
 (899, 0.06897007348075543),
 (1070, 0.06897007348075543),
 (1113, 0.06897007348075543),
 (1523, 0.06897007348075543),
 (2295, 0.06897007348075543),
 (3164, 0.06897007348075543),
 (3764, 0.06897007348075543),
 (4268, 0.06897007348075543),
 (1990, 0.06872081327440495),
 (1367, 0.06818181818181819),
 (98, 0.06818181818181818),
 (210, 0.06818181818181818),
 (341, 0.06818181818181818),
 (365, 0.06818181818181818),
 (680, 0.06818181818181818),
 (1009, 0.06818181818181818),
 (71, 0.06741998624632421),
 (235, 0.06741998624632421),
 (503, 0.06741998624632421),
 (634, 0.06741998624632421),
 (1139, 0.06741998624632421),
 (1254, 0.06741998624632421),
 (1521, 0.06741998624632421),
 (1623, 0.06741998624632421),
 (1655, 0.06741998624632421),
 (2056, 0.06741998624632421),
 (2163, 0.06741998624632421),
 (2256, 0.06741998624632421),
 (2381, 0.06741998624632421),
 (2479, 0.06741998624632421),
 (2712, 0.06741998624632421),
 (2988, 0.06741998624632421),
 (3069, 0.06741998624632421),
 (3072, 0.06741998624632421),
 (3155, 0.06741998624632421),

In [ ]:
def recommend(movie):
  movie_index = new_df[new_df['title'] == movie].index[0]
  distances = similarity[movie_index]  
  movies_list = sorted(list(enumerate(distances)),reverse=True,key=lambda x:x[1])[1:11]
  for i in movies_list:
    print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Batman Begins')

The Dark Knight
Batman
Batman
The Dark Knight Rises
10th & Wolf
Batman v Superman: Dawn of Justice
Rockaway
Synecdoche, New York
Defendor
Sexy Beast